{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    Enter the stock's symbol and the number of shares to buy the stock.
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock's symbol" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="# of shares?" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
    
{% endblock %}
